.project-container{
    display: flex;
    justify-content: center;
}

.project-details{
    background-color: #D0D8DE;
    padding: 10px;
    width: 400px;
}

.btn-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.edit{
    margin: 20px;
}

.delete{
    border: 1px solid #1d9dd9;
    padding: 5px;
}