.App {
  background-image: url('./concrete.jpg');
  background-size: cover;
  font-family: 'Dosis', sans-serif;
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

.App input {
  font-family: 'Dosis', sans-serif;
}

.App button {
  font-family: 'Dosis', sans-serif;
}