.signup-form {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D0D8DE;
    border-bottom: 3px solid #1d9dd9;
}

.signup-button{
    width: 150px;
}
