.signup-form {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #DDDDDD;
}

.signup-button{
    width: 150px;
}
