.projects{
    display: flex;
    justify-content: space-around;
   
}

.project-box{
    width: 600px;
    padding: 20px;
    background-color: #D0D8DE;
}

.project-btn{
    width: 200px;
}

.project-img{
    width: 20px;
}

.project-table th{
    font-size: larger;
    padding-right: 20px;
}